.a__nav
    margin-right: 20px
    color: white

.li__nav
    margin-top: 5%

.ul__nav
    display: flex
    flex-direction: row
    list-style-type: none
    align-content: center
    text-align: center

nav
    background-color: #EB1E06
    display: flex
    justify-content: center

